@model Plataforma.Ui.OrgTs.ViewModel.Sistema.AgendaAtendimentoViewModel
@{
    Agenda_Atendimento dadosAgendaAtendimento = Model.agendaAtendimento ?? new Agenda_Atendimento();
    List<Pessoa> dadosPessoa = Model.listaPessoa;
}

<div class="modal fade" id="modalAgendamento">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Novo agendamento</h3>
            </div>
            <div class="modal-body">

                <div class="row">
                    <form class="col-lg-12 col-md-12 col-sm-12" action="Sistema_AgendaAtendimento/AgendaAtendimento-aba">
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-12">

                                <div class="form-group col-md-12">
                                    <label for="id_tipo_agendamento">Tipo de Agendamento</label><br />
                                    <select class="select-titan" name="id_tipo_agendamento" id="id_tipo_agendamento">
                                        <option value="">Selecione um tipo de agendamento</option>                                        
                                    </select>
                                </div>                               

                                <div class="form-group col-md-12">
                                    <label for="nome_solicitante">Nome do Solicitante</label>
                                    <input type="text" class="form-control" name="nome_solicitante" placeholder="Informe o Nome do Solicitante" id="nome_solicitante" value="">
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="data">Data</label>
                                    <input type="text" class="form-control titan-date-picker" name="data" placeholder="Insira uma Data" id="data" value="">
                                </div>

                                <div class="form-group col-md-3">
                                    <label for="hora">Hora</label>
                                    <input type="text" class="form-control titan-hour-picker" name="hora" id="hora" value="@DateTime.Now.ToString("HH:mm")">
                                </div>

                                <div class="form-group col-md-12">
                                    <label for="id_pessoa_responsavel">Nome do Responsável</label><br />
                                    <select class="select-titan" name="id_pessoa_responsavel" id="id_pessoa_responsavel">
                                        <option value="">Selecione um nome</option>
                                        @foreach (var itens in dadosPessoa)
                                        {
                                            if (itens.id == dadosAgendaAtendimento.id_pessoa_responsavel)
                                            {
                                                <option value="@itens.id" selected>@itens.razao_social_nome</option>
                                            }
                                            else
                                            {
                                                <option value="@itens.id">@itens.razao_social_nome</option>
                                            }
                                        }
                                    </select>
                                </div>

                                <div class="form-group col-md-12">
                                    <label for="observacao">Observação</label>
                                    <textarea class="form-control height-200" name="observacao" placeholder="Insira uma observação (opcional)" id="observacao"></textarea>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" id="salva-agendamento-modal">Salvar agendamento</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modal-agendamento-info-dia" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Agendamento</h3>
            </div>
            <div class="modal-body info-agenda-dia font-size-14">
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/min/sistema/modal-agendamento.js"></script>
